div>p{
    font-size: 10 px;
    background-color: papayawhip;
}
h1{
    font-size: 10vh;
    color: blueviolet;
}
img{
    width: 200px;
    height: 200px;
}
p{
    color: palevioletred;
    background-color: blanchedalmond;
    border: 10rem;
}
a:link{
    color:red;
}
a:visited{
    color:blueviolet;
}
a:hover{
    color:green;
}
.ih3{
    transform: rotate(120deg);
}
.ih2{
     transform: none;
}
h2:hover{
    width: 200px;
}
